.flex-me {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
}

mat-card {
  height: 250px;
  width: 200px;
  margin: 20px;
}

.board-img-card{
  width: 200px;
  height: 200px;
  margin: auto;
}
.mat-form-field{
  width: 98%;
  margin: 0 auto;
}
.search-field {
  display: block;
  border-radius: 25px;
}
.search-box {
  width: 100%;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.add-icon {
  color: #fff;
}
