.flex-me {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
}

mat-card {
  height: 250px;
  width: 200px;
  margin: 20px;
}

.board-img-card{
  width: 200px;
  height: 200px;
  margin: auto;
}
