<mat-card class="card" (click)="openTask.next()">
  <img *ngIf="image" mat-card-image [src]="image" draggable="false">
  <mat-card-content>
    <div class="card-header">
      <span class="mat-h3">{{title}}</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" matMenuTrigger>
        <mat-icon class="icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteTask.next()">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
        <button mat-menu-item (click)="copyTask.next()">
          <mat-icon>content_copy</mat-icon>
          <span>Copiar</span>
        </button>
        <button mat-menu-item (click)="moveTask.next()">
          <mat-icon>drive_file_move_outline</mat-icon>
          <span>Mover</span>
        </button>
      </mat-menu>
    </div>
    <div *ngIf="users">
      <mat-chip-list>
        <mat-chip *ngFor="let user of users" class="no-padding-right" matTooltip="{{ user.name }} {{user.surname}}"
                  [removable]="removable"
                  (removed)="removeUser(user)">
          <img matChipAvatar *ngIf="user.photo" src="data:image/png;base64,{{user.photo.substring(1, user.photo.length - 1)}}" alt="Avatar de {{ user.name }}" class="assigment-avatar">
          <img matChipAvatar *ngIf="!user.photo" src="../../assets/user-default.png" alt="Avatar de {{ user.name }}"  class="assigment-avatar">
          <mat-icon matChipRemove *ngIf="removable" class="remove-assigment" >cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="tags">
      <mat-chip-list>
        <mat-chip [style.background]="tag?.color ? tag.color : '#e0e0e0'" *ngFor="let tag of tags" selectable="false"
                  [removable]="removable"
                  (removed)="removeTag(tag)">{{tag?.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

  </mat-card-content>
</mat-card>
