:host {
  display: block;
  margin-bottom: 8px;
}

.mat-card-content {
  margin-bottom: 0;
}

.mat-chip-list {
  display: block;
  margin-top: 10px;
}

// Allows for the image to cover the card while preserving its dimensions.
.mat-card-image {
  object-fit: cover;
  object-position: top;
  margin-top: 25px;
  max-height: 150px;
}

.card {
  position: relative;
}

.card-header{ display: flex}

.icon {
  vertical-align: initial;
}
.spacer {
  flex: 1;
}

.no-padding-right{
  padding-right: 0!important;
}
.assigment-avatar{
  padding-right: 0!important;
  margin-left:0!important;
  margin-right:0!important;
  width:34px!important;
  height:34px!important;
}
.remove-assigment {
  padding: 0 !important;
  margin-left: -15px !important;
  margin-top: -17px !important;
}
