:host {
  display: block;
  margin-bottom: 8px;
}

.mat-card-content {
  margin-bottom: 0;
}

.mat-chip-list {
  display: block;
  margin-top: 10px;
}

// Allows for the image to cover the card while preserving its dimensions.
.mat-card-image {
  object-fit: cover;
  object-position: top;
  margin-top: 25px;
  max-height: 150px;
}

.card {
  position: relative;
}

.card-header{ display: flex}

.icon {
  vertical-align: initial;
}
.spacer {
  flex: 1;
}
