<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <div class="sidenav-content">
      <a class="profile-pic" href="#openImage">
        <img *ngIf="!loginService.user?.photo" src="../assets/user-default.png" alt="Foto de perfil">
        <img *ngIf="loginService.user?.photo" src="data:image/png;base64,{{loginService.user?.photo?.substring(1, loginService.user?.photo?.length!!- 1)}}" alt="Foto de perfil">
      </a>
      <div class="lightbox-target" id="openImage">
        <img *ngIf="!loginService.user?.photo" src="../assets/user-default.png" alt="Foto de perfil">
        <img *ngIf="loginService.user?.photo" src="data:image/png;base64,{{loginService.user?.photo?.substring(1, loginService.user?.photo?.length!! - 1)}}" alt="Foto de perfil">
        <a class="lightbox-close" href="#">
          <mat-icon class="center">close</mat-icon>
        </a>
        <button class="lightbox-download" (click)="downloadPhoto()">
          <mat-icon>download</mat-icon>
        </button>
        <button class="lightbox-edit" (click)="f_input.click()" >
          <input
            type="file"
            hidden
            [multiple]="false"
            accept="image/*"
            #f_input
            (change)="editPhoto(f_input.files)"
          />
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <mat-nav-list>
        <h1>Tableros</h1>
        <a *ngFor="let board of boards" mat-list-item (click)="openBoard(board)"> {{board.name}} </a>
        <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row>
          <button mat-icon-button *ngIf="loginService.isLogged && boards">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <img
            width="40"
            alt="ProTasks Logo"
            src="./assets/logonaranja.png"
            [routerLink]="'/'"
          />
          <span (click)="goToHome()">ProTasks</span>
          <span class="spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="LogOut button"
                  *ngIf="loginService.isLogged" (click)='logOut()'>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row class="secondary-row" *ngIf="board" style="display: flex; align-items: center;">
          <div (click)="openBoard(board)">
            <span>{{board.name}}</span>
          </div>
          <div *ngIf="!settingsOpened">
            <button class="example-icon"
                    (click)="changeVIewMode('list')">
              <mat-icon>view_list</mat-icon>
              <span class="button-text">Lista</span>
            </button>
            <button class="example-icon"
                    (click)="changeVIewMode('board')">
              <mat-icon>view_week</mat-icon>
              <span class="button-text">Tablero</span>
            </button>
            <button class="example-icon"
                    (click)="openStats()">
              <mat-icon>bar_chart</mat-icon>
              <span class="button-text">Gráficos</span>
            </button>
            <button class="example-icon"
                    (click)="openSettings()">
              <mat-icon>settings</mat-icon>
              <span class="button-text">Ajustes</span>
            </button>
          </div>
          <div *ngIf="settingsOpened">
            <button class="example-icon"
                    (click)="openBoard(board)">
              <mat-icon>arrow_back</mat-icon>
              <span class="button-text">Volver</span>
            </button>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
