<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <h1>Tableros</h1>
      <a *ngFor="let board of boards" mat-list-item (click)="openBoard(board)"> {{board.name}} </a>
      <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row>
          <button mat-icon-button *ngIf="loginService.isLogged && boards">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <img
            width="40"
            alt="ProTasks Logo"
            src="./assets/logonaranja.png"
            [routerLink]="'/'"
          />
          <span (click)="goToHome()">ProTasks</span>
          <span class="spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="LogOut button"
                  *ngIf="loginService.isLogged" (click)='logOut()'>
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row class="secondary-row" *ngIf="board" style="display: flex; align-items: center;">
          <div>
            <span>{{board.name}}</span>
          </div>
          <div style="margin-left: 70px">
            <mat-form-field floatLabel="never">
              <mat-icon class="search-icon">search</mat-icon>
              <input matInput />
              <mat-label>Buscar...</mat-label>
            </mat-form-field>
          </div>
          <div>
            <button style="margin-left: 70px" mat-icon-button class="example-icon favorite-icon"
                    (click)="changeVIewMode()">
              <mat-icon>view_list</mat-icon>
              <span class="button-text">Cambiar vista</span>
            </button>
            <button style="margin-left: 140px" mat-icon-button class="example-icon favorite-icon"
                    (click)="openStats()">
              <mat-icon>bar_chart</mat-icon>
              <span class="button-text">Gráficos</span>
            </button>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
