<div class="task-header">
  <h2>{{ task.title }}</h2>
  <div class="task-info-section">
    <h3>Personas asignadas:</h3>
    <div *ngIf="task.users">
      <mat-chip-list>
        <mat-chip *ngFor="let user of task.users" class="no-padding-right" matTooltip="{{ user.name }} {{user.surname}}"
                  [removable]="removable"
                  (removed)="removeUser(user)">
          <img matChipAvatar *ngIf="user.photo" src="data:image/png;base64,{{user.photo.substring(1, user.photo.length - 1)}}" alt="Avatar de {{ user.name }}" class="assigment-avatar">
          <img matChipAvatar *ngIf="!user.photo" src="../../assets/user-default.png" alt="Avatar de {{ user.name }}"  class="assigment-avatar">
          <mat-icon matChipRemove *ngIf="removable" class="remove-assigment" >cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="task-info-section">
    <h3>Fecha de vencimiento:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Elige una fecha</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="task.date_end" (dateChange)="onChangeDate($event)">
      <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="task-info-section">
    <h3>Prioridad:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Elige Prioridad</mat-label>
      <mat-select [(ngModel)]="selectedPriority">
        <mat-select-trigger>
          <mat-icon [ngStyle]="{'color':getPriorityFlagColor(selectedPriority)}">flag</mat-icon>&nbsp;{{getPriorityPrintableName(selectedPriority)}}
        </mat-select-trigger>
        <mat-option *ngFor="let priority of priorities" [value]="priority">
          <span>
            <mat-icon class="priority-icon" [ngStyle]="{'color':getPriorityFlagColor(priority)}">flag</mat-icon>
            {{ getPriorityPrintableName(priority) }}
            </span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="task-info-section">
    <h3>Etiquetas</h3>
    <div *ngIf="task.tag_ids">
      <mat-chip-list>
        <mat-chip [style.background]="tag?.color ? tag.color : '#e0e0e0'" *ngFor="let tag of task.tag_ids" selectable="false"
                  [removable]="removable"
                  (removed)="removeTag(tag)">{{tag?.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="task-buttons">
    <button mat-icon-button (click)="copy()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button mat-icon-button (click)="move()">
      <mat-icon>drive_file_move_outline</mat-icon>
    </button>
    <button mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="task-body">
    <div class="example-full-width add-padding-right">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput [(ngModel)]="task.description"></textarea>
      </mat-form-field>
    </div>
    <div class="example-full-width">
        <h2>{{ task.title }}</h2>
        <p>{{ task.taskList?.title }}</p>

        <div class="task-info-section">
          <h3>Assigned to</h3>
          <p>PEPE</p>
        </div>
        <div class="task-info-section">
          <h3>Due date</h3>
          <p>{{ task.date_end }}</p>
        </div>
        <div class="task-info-section">
          <h3>Tags</h3>
          <div class="tags">
            <span *ngFor="let tag of task.tag_ids" [style.backgroundColor]="tag.color">{{ tag.name }}</span>
          </div>
        </div>
        <div class="task-buttons">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
</div>
