/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-dialog-container .mat-dialog-container {
  padding: 0 !important;
}

.no-padding-right{
  padding-right: 0!important;
}
.assigment-avatar{
  padding-right: 0!important;
  margin-left:0!important;
  margin-right:0!important;
  width:34px!important;
  height:34px!important;
}
.remove-assigment {
  padding: 0 !important;
  margin-left: -15px !important;
  margin-top: -17px !important;
}

.example-full-width {
  width: 100%;
}

