<div cdkDropListGroup>
  <div *ngIf="mode==='board'" cdkDropList [cdkDropListData]="taskLists" (cdkDropListDropped)="drop($event,'list')"
       cdkDropListOrientation="horizontal">
    <div cdkDropListGroup class="example-container">
      <div cdkDrag *ngFor="let list of taskLists" class="example-list mat-elevation-z1">
        <div class="list-header">
          <span class="mat-h2">{{list.title}}</span>
          <span class="spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addTask(list)">
              <mat-icon>add</mat-icon>
              <span>Añadir Tarea</span>
            </button>
            <button mat-menu-item (click)="deleteList(list)">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
            <button mat-menu-item (click)="copyList(list)">
              <mat-icon>content_copy</mat-icon>
              <span>Copiar</span>
            </button>
            <button mat-menu-item (click)="moveList(list)">
              <mat-icon>drive_file_move_outline</mat-icon>
              <span>Mover</span>
            </button>
          </mat-menu>
        </div>
        <div class="card-list-content" cdkDropList [cdkDropListData]="list.tasks" (cdkDropListDropped)="drop($event,'task',list)">
          <task-card #taskCard *ngFor="let task of list.tasks" cdkDrag  [task]="task" (deleteTask)="deleteTask(task,list,false)"
                      (copyTask)="copyTask(task)" (moveTask)="moveTask(task,list)" (openTask)="openTask(task,false)"></task-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="baseline baseline">
          <button style="width: fit-content;" class="add-task" (click)="addTask(list)" color="primary"
                  mat-raised-button>Add Task
          </button>
        </div>
      </div>
      <button class="example-list mat-elevation-z1" (click)="addTaskList()" mat-raised-button>Add TaskList</button>

    </div>
  </div>

  <div cdkDropListGroup>
    <div *ngIf="mode==='list'" cdkDropList [cdkDropListData]="taskLists" (cdkDropListDropped)="drop($event,'list')">
      <div cdkDropListGroup>
        <ul cdkDrag *ngFor="let list of taskLists" cdkDropList [cdkDropListData]="list.tasks"
            (cdkDropListDropped)="drop($event,'task',list)">
          <h2>{{ list.title }}</h2>
          <li *ngFor="let task of list.tasks" (click)="openTask(task,false)">
            <div class="elements-list-task">
              <span class="task-title">{{ task.title }}</span>
              <span class="task-title"> {{ task.description }}</span>
              <mat-chip-list class="task-title">
                <mat-chip *ngFor="let user of task.users" class="no-padding-right" matTooltip="{{ user.name }} {{user.surname}}"
                          [removable]="false">
                  <img matChipAvatar *ngIf="user.photo" src="data:image/png;base64,{{user.photo.substring(1, user.photo.length - 1)}}" alt="Avatar de {{ user.name }}" class="assigment-avatar">
                  <img matChipAvatar *ngIf="!user.photo" src="../../assets/user-default.png" alt="Avatar de {{ user.name }}"  class="assigment-avatar">
                </mat-chip>
              </mat-chip-list>
              <mat-chip-list>
                <mat-chip [style.background]="tag?.color ? tag.color : '#e0e0e0'" *ngFor="let tag of task.tag_ids"
                          selectable="false"
                          [removable]="false">{{tag?.name}}
                </mat-chip>
              </mat-chip-list>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="pie-charts-container" *ngIf="mode==='stats'">
    <div *ngFor="let userD of userData" class="pie-chart-container">
      <ngx-charts-pie-chart
        [view]="[500, 300]"
        [results]="userD.statuses"
        [gradient]="false"
        [labels]="false"
        [legend]="true"
        [explodeSlices]="false"
        [doughnut]="true"
        [arcWidth]="0.5">
      </ngx-charts-pie-chart>
      <div class="pie-chart-label">{{ userD.name }}</div>
    </div>
  </div>
  <div *ngIf="mode==='stats'">

    <ngx-charts-bar-vertical-2d
      [view]="[1500, 300]"
      [animations]="true"
      [results]="cycleGraphData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Tarea'"
      [yAxisLabel]="'Dias'"
      [roundEdges]="true"
      [rotateXAxisTicks]="false">
    </ngx-charts-bar-vertical-2d>
  </div>
</div>
